@model Client;

@{
    ViewData["Title"] = "Home Page";
}

 
    <div class="card border">
        <div class="card-body">
            <form >
                <fieldset>
                    <legend class="h3 text-center text-uppercase">Certificate of Appearance Entry Form</legend>
                    <div>
                        <label for="firstName" class="form-label mt-4">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name"  >
                        
                    </div>
                    <div>
                        <label for="middleInitial" class="form-label mt-4">Middle Initial</label>
                        <input type="text" class="form-control" id="middleInitial"   placeholder="Enter Middle Initial"  >
 
                    </div>
                    <div>
                        <label for="lastName" class="form-label mt-4">Last Name</label>
                        <input type="text" class="form-control" id="lastName"   placeholder="Enter Last Name"  >
                         
                    </div>
                    <div>
                        <label for="position" class="form-label mt-4">Position</label>
                        <input type="text" class="form-control" id="position"   placeholder="Enter Position"  >
                         
                    </div>
                    <div>
                        <label for="lgu" class="form-label mt-4">LGU</label>
                        <input type="text" class="form-control" id="lgu"   placeholder="Enter LGU" >
                        <small id="lguError" class="form-text text-muted"></small>
                        
                    </div>
                    <div>
                        <label for="dateArrived" class="form-label mt-4">Date Arrived</label>
                        <input type="date" class="form-control" id="dateArrived"   placeholder="Enter Date Arrived"   >
                       
                    </div>
                    <div >
                        <label for="dateReturned" class="form-label mt-4">Date Returned</label>
                        <input type="date" class="form-control" id="dateReturned"   placeholder="Enter Date Returned"  >
                       
                    </div>
                    <div >
                        <label for="dateReturned" class="form-label mt-4">Purpose</label>
                        <textarea   id="purpose" cols="30" rows="10" class="form-control" placeholder="Enter Purpose"></textarea>
                        
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary" id = "btnCreateSaveChanges" style="display: block; margin-top: 1rem; padding: 1rem 3.2rem; font-weight: 600;">Submit</button>
                    </div>
                </fieldset>
              </form>
        </div>
    </div>
@section Scripts {
<script>
$(document).ready(function() {
            let btnCreateSaveChanges = document.getElementById("btnCreateSaveChanges");
 
    btnCreateSaveChanges.addEventListener('click', async  (e) => {
                e.preventDefault();
        let formData = {
            "lgu": "Manila",
            "purpose": "Business Permit",
            "lastName": "Dela Cruz",
            "position": "Manager",
            "firstName": "Juan",
            "middleInitial": "Hizon",
        }

        console.log(formData)
                $.ajax({
                    url: '/api/postclient/',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                            Swal.fire({
                                title: "Drag me!",
                                icon: "success",
                                draggable: true
                            });
                       
                    },error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr, textStatus, errorThrown);
                    }
                });
            });
    });


    </script>
}